nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    background-color: #80c0c0;
    border-color: #66b3b3;
    align-items: center;
    justify-items: center;
    width: 100%;
    border-width: 2px;
    margin-bottom: 5%;
    font-size: large;
}

/* a {
    font-size: larger;
} */

body {
    background-color: #e6f2f2;
    align-items: center;
    justify-items: center;
    margin: 0%;
}

div {
    padding: 3%;
}

label {
    padding: 2%;
}

input {
    padding: 2%;
}

option {
    padding: 2%;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;
}


.wrapperTest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(170px, auto);
}

.wrapperResult {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
}

.wrapperRegistration {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px, auto);
}

.gopstop {
    position: relative;
    cursor: pointer;
}

.gopstop::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.gopstop:hover::after {
    opacity: 1;
    visibility: visible;
}


/* .question {
    padding: 5%;
} */

.card {
    background-color: #cce8e8;
    border: 2px solid #b3d9d9;
    /* width: 80%; */
    /* height: 70%; */
    justify-items: center;
}

.submitButton {
    justify-self: center;
    text-align: center;
}

footer {
    background-color: #80c0c0;
    border-top: 2px solid #66b3b3;
    text-align: right;
    width: 100%;
    margin-top: 5%;
}